html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding-bottom: 100px;
}

h1,
h2,
h3 {
  font-family: "Gayathri", sans-serif;
}

p {
  padding-top: 20px;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
}

h1 {
  font-size: 120px;
  color: white;
}

h2 {
  font-size: 54px;
}

h2 .main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  /* border-bottom: 1px solid #d6d6d6; */
  display: flex;
  flex-flow: row wrap;
  z-index: 1000;
}

.burger-btn {
  width: 60px;
  height: 100%;
  background-image: url("icons/burger.svg");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  cursor: pointer;
}

.close-btn {
  width: 60px;
  height: 100%;
  background-image: url("icons/close.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  cursor: pointer;
}

.close-btn:hover {
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}

.burger-btn:hover {
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}

.main-nav ul {
  display: flex;
  flex-flow: row wrap;
  padding-left: 25px;
  border-left: 1px solid #d6d6d6;
}

.main-nav ul li {
  list-style: none;
  margin-right: 25px;
  height: 100%;
}

.main-nav ul li a {
  font-family: helvetica;
  color: black;
  text-decoration: none;
}

/* .main-nav ul li:hover {
  border-bottom: solid black 1px;
  box-sizing: border-box;
} */

.side-nav {
  position: fixed;
  left: 0;
  height: 100%;
  background: white;
  z-index: 1001;
  border-right: 1px solid #d6d6d6;
  overflow: hidden;
  transition: all 0.15s ease-in-out;
  display: flex;
}

.side-nav ul li {
  line-height: 100px;
}

.side-nav ul {
  padding: 30px 50px;
  font-size: 72px;
  width: 100%;
}

.side-nav ul li a {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transition-delay: 0.15s;
  font-family: helvetica;
  color: black;
  text-decoration: none;
}

.side-nav ul li a:hover {
  font-style: italic;
}

.nav-elements {
  visibility: hidden;
  margin-left: -364px;
  transition: all 0.2s ease-in-out;
}

.page-mask {
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
}

.header-image {
  width: 100%;
  height: 100vh;
  background-image: url("images/header-image.jpg");
  background-size: cover;
  -webkit-backdrop-size: cover;
  background-position: center center;
}

.material-icons {
  vertical-align: middle;
}

.material-icons,
.medium {
  font-size: 16px !important;
}

.header-container {
  position: relative;
}

#scrollBtn {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 130px;
  padding: 10px;
  height: auto;
  z-index: 1000;
  background: white;
  border: white 1px;
  border-radius: 10px;
  color: black;
  bottom: 60px;
  text-align: center;
}

#scrollBtn:hover .arrow-icon {
  -webkit-animation: toBottomFromTop 0.3s forwards;
  -moz-animation: toBottomFromTop 0.3s forwards;
  animation: toBottomFromTop 0.3s forwards;
}

@-webkit-keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes toBottomFromTop {
  49% {
    -moz-transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toBottomFromTop {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

.header-text {
  position: absolute;
  width: 900px;
  padding: 70px 70px;
}

.content {
  margin-left: 60px;
}

#text-container {
  text-align: center;
  padding-top: 100px;
}

.text-block {
  width: 600px;
  display: inline-block;
}
